{% extends "base.html" %}
{% block title %}Gainers & Losers{% endblock %}
{% block content %}
<div class="card">
    <div class="table-wrap">
        <h2>Top 15 Gainers</h2>
        <table class="data">
            <thead>
                <tr><th>Symbol</th><th>LTP</th><th>Change</th><th>% Change</th></tr>
            </thead>
            <tbody>
                {% for stock in gainers %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>₹{{ stock.ltp }}</td>
                    <td>{{ stock.change }}</td>
                    <td>{{ stock.pChange }}%</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Top 15 Losers</h2>
        <table class="data">
            <thead>
                <tr><th>Symbol</th><th>LTP</th><th>Change</th><th>% Change</th></tr>
            </thead>
            <tbody>
                {% for stock in losers %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>₹{{ stock.ltp }}</td>
                    <td>{{ stock.change }}</td>
                    <td>{{ stock.pChange }}%</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}